<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>FlixTube: History</title>

        <link rel="stylesheet" href="css/tailwind.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div class="flex flex-col">
            <div class="border-b-2 bg-white shadow-sm">
                <div class="nav flex flex-row items-center px-6 py-4">
                    <div class="text-2xl font-bold text-gray-900">
                        FlixTube
                    </div>
                    <div class="ml-8">
                        <a href="/" class="text-gray-700 hover:text-blue-600 transition duration-300">Videos</a>
                    </div>
                    <div class="ml-8">
                        <a href="/upload" class="text-gray-700 hover:text-blue-600 transition duration-300">Upload</a>
                    </div>
                    <div class="ml-8">
                        <a href="/history" class="text-blue-600 font-semibold transition duration-300 pb-2 border-b-2 border-blue-600">History</a>
                    </div>
                    <div class="ml-8">
                        <a href="/advertise" class="text-gray-700 hover:text-blue-600 transition duration-300">Advertise</a>
                    </div>
                </div>
            </div>

            <div class="m-4">
	            <h1>Viewing history</h1>
                <div class="m-4">
                    <table>
                        <tr>
                            <th class="border-2 p-1 pl-2 pr-2">Video id</th>
                            <th class="border-2 p-1 pl-2 pr-2">Date watched</th>
                        </tr>
                        {{#each videos}}
                            <tr class="mt-1">
                                <td class="border-2 p-1 pl-2 pr-2">
                                    <a href="/video?id={{this.videoId}}">{{this.videoId}}</a> 
                                </td>
                                <td class="border-2 p-1 pl-2 pr-2">
                                    {{this.watched}}
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>