<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>FlixTube: Play video</title>

        <link rel="stylesheet" href="css/tailwind.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div class="flex flex-col">
            <div class="border-b-2 bg-white shadow-sm">
                <div class="nav flex flex-row items-center px-6 py-4">
                    <div class="text-2xl font-bold text-gray-900">
                        FlixTube
                    </div>
                    <div class="ml-8">
                        <a href="/" class="text-blue-600 font-semibold transition duration-300 pb-2 border-b-2 border-blue-600">Videos</a>
                    </div>
                    <div class="ml-8">
                        <a href="/upload" class="text-gray-700 hover:text-blue-600 transition duration-300">Upload</a>
                    </div>
                    <div class="ml-8">
                        <a href="/history" class="text-gray-700 hover:text-blue-600 transition duration-300">History</a>
                    </div>
                    <div class="ml-8">
                        <a href="/advertise" class="text-gray-700 hover:text-blue-600 transition duration-300">Advertise</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="m-4">
            <h1>Playing {{video.metadata.name}}</h1>
            <div class="m-4">
	            <video controls autoplay muted>
	                <source src={{video.url}} type="video/mp4">
	                Your browser does not support the video tag.
	            </video>
            </div>
        </div>
    </body>
</html>