<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>FlixTube: Upload video</title>

        <link rel="stylesheet" href="css/tailwind.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <script src="js/upload.js"></script>

        <div class="flex flex-col">
            <div class="border-b-2 bg-white shadow-sm">
                <div class="nav flex flex-row items-center px-6 py-4">
                    <div class="text-2xl font-bold text-gray-900">
                        FlixTube
                    </div>
                    <div class="ml-8">
                        <a href="/" class="text-gray-700 hover:text-blue-600 transition duration-300">Videos</a>
                    </div>
                    <div class="ml-8">
                        <a href="/upload" class="text-blue-600 font-semibold transition duration-300 pb-2 border-b-2 border-blue-600">Upload</a>
                    </div>
                    <div class="ml-8">
                        <a href="/history" class="text-gray-700 hover:text-blue-600 transition duration-300">History</a>
                    </div>
                    <div class="ml-8">
                        <a href="/advertise" class="text-gray-700 hover:text-blue-600 transition duration-300">Advertise</a>
                    </div>
                </div>
            </div>

        <div class="m-4">
            <h1>Upload videos</h1>
            <div class="m-4">
                <form class="upload-form">
                    <p>Click the button and choose videos to upload.</p>
                    <input 
                        class="mt-2"
                        type="file" 
                        id="uploadInput" 
                        accept="video/*" 
                        onchange="uploadFiles(this.files)"
                        />
                </form>

                <div id="results" class="mt-4">
                    <div>Uploaded:</div>
                </div>
            </div>
        </div>
    </body>
</html>